
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffc800;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #ffc800;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}



body {
    font-family: 'K2D', sans-serif;
}


.btnCss{
    color: black;
    font-size: 21px;
    font-weight: bold;
    width: 236px;
    height: 77px;

}

.btnImageCss {
    width: 63px;
    height: 58px;
    margin-right: 26px; /* Adjust the spacing between the image and text as needed */
    vertical-align: middle; /* Align the image vertically with the text */
}
.saleImage{
    margin-right: 68px;
}

.logoCss{
    width: 30%;
    left: -21px;
}




@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}