body{

    overflow-y: hidden;

}


.shoes-img {
    position: absolute;
    width: 1200px;
    max-width: none; /* Remove any max-width constraint */
    right: 3%;

}
#companyName{
    font-size: 50px;
}

.ml-3 {
    margin-left: 3rem !important; /* Adjust as needed */
}

