<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../img/logo2.png"
      sizes="32x32"
    />
    <meta charset="UTF-8" />
    <title>Item Service</title>

    <link rel="stylesheet" href="../css/loginPage.css" />
    <link rel="stylesheet" href="../css/menuBar.css" />
    <link rel="stylesheet" href="../css/txt.css" />
    <link rel="stylesheet" href="../bootstrap-5.3.1-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../css/menuBar.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!-- Include Font Awesome for icons -->
    <link href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"/>
  </head>
  <body>
    <div id="mobile_navi">
      <div id="mySidenav" class="sidenav">
        <a
          href="javascript:void(0)"
          class="closebtn"
          id="closeButton"
          onclick="closeNav()"
          >&times;</a
        >

        <div class="col">
          <img src="../img/logo2.png" alt="" class="mx-auto d-block logoCss" />
        </div>

        <div class="col mt-5 text-center">
          <a href="../view/adminPanel.html">
            <button class="btn btn-lg btnCss text-white">
              <img src="../img/ap.png" alt="" class="btnImageCss" />
              Dash Board
            </button>
          </a>
        </div>

        <div class="col mt-2 text-center">
          <a href="../view/customerPage.html">
            <button class="btn btn-lg btnCss text-white">
              <img src="../img/cus.png" alt="" class="btnImageCss" />
              Customers
            </button>
          </a>
        </div>

        <div class="col mt-2 text-center">
          <a href="../view/item.html">
            <button class="btn btn-lg btnCss text-white">
              <img src="../img/sh.png" alt="" class="btnImageCss" />
              Inventory
            </button>
          </a>
        </div>

        <div class="col mt-2 text-center">
          <a href="../view/order.html">
            <button class="btn btn-lg btnCss text-white">
              <img src="../img/buy.png" alt="" class="btnImageCss saleImage" />
              Sale
            </button>
          </a>
        </div>

        <div class="col mt-2 text-center">
          <a href="../view/supplier.html">
            <button class="btn btn-lg btnCss text-white">
              <img src="../img/sup.png" alt="" class="btnImageCss" />
              Suppliers
            </button>
          </a>
        </div>

        <div class="col mt-2 text-center">
          <a href="../view/employee.html">
            <button class="btn btn-lg btnCss text-white">
              <img src="../img/emp.png" alt="" class="btnImageCss" />
              Employees
            </button>
          </a>
        </div>

        <div class="col mt-5 text-center">
          <a href="../view/login.html">
            <button class="btn  btn-lg btnCss text-white mt-3">
              <img src="../img/logOut.png" alt="" class="btnImageCss">
              Log Out
            </button>
          </a>
        </div>
      </div>

      <div id="main">
        <span
          id="menuButton"
          style="font-size: 30px; cursor: pointer; color: #000000"
          onclick="openNav()"
          >&#9776;</span
        >
      </div>
    </div>

    <div class="container-fluid dashBordSet">
      <div class="row">
        <div class="col-12 col-xxl-9 col-xl-9 col-lg-9 col-md-9">
          <h1>Item Service</h1>
        </div>

        <div class="col-12 col-xxl-3 col-xl-3 col-lg-3 col-md-3">
          <div class="form-group">
            <div class="search-container" style="position: relative">
              <input
                type="text"
                class="form-control fw-bold"
                id="itemSearchTxt"
                placeholder=""
              />
              <i
                class="fas fa-search search-icon"
                id="itemSearchBtn"
                style="
                  position: absolute;
                  right: 10px;
                  top: 50%;
                  transform: translateY(-50%);
                "
              ></i>
            </div>
          </div>


        </div>

        <div class="row mt-5 rowColur">
          <div class="col-3 col-xl-3 col-lg-3">
            <div class="row mt-4 justify-content-center align-items-center">
              <div class="text-center">
                <h5>Select Item Image</h5>
                <img
                  src="../img/selctImg.png"
                  alt=""
                  id="selectImage"
                  type="file"
                  class="img-fluid"
                />
                <form action="/action_page.php" class="mt-1">
                  <!-- Remove one of the id attributes -->
                  <input
                    type="file"
                    name="filename"
                    class="d-none"
                    id="itemImageSelect"
                    onchange="displaySelectedImage(event)"
                  />

                  <label
                    for="itemImageSelect"
                    class="btn btn-primary mt-2 col-8"
                    >Browse</label
                  >
                </form>
              </div>
            </div>
          </div>

          <div class="col-9 mt-3">
            <div class="row">
              <div
                class="col-12 col-xxl-2 col-xl-2 col-lg-3 col-md-6 col-sm-6 mt-3"
              >
                <div class="form-group">
                  <label for="itemIdTxt" class="text-black fw-bold"
                    >Item Code</label
                  >
                  <div class="search-container">
                    <input
                      type="text"
                      class="form-control fw-bold border border-1 fw-bold"
                      id="itemIdTxt"
                      placeholder="Auto Generate"
                      disabled
                    />
                  </div>
                </div>
              </div>

              <div
                class="col-12 col-xxl-2 col-xl-2 col-lg-3 col-md-6 col-sm-6 mt-3"
              >
                <div class="form-group">
                  <label for="itemDescTxt" class="text-black fw-bold"
                    >Item Description</label
                  >
                  <div class="search-container">
                    <input
                      type="text"
                      class="form-control fw-bold border border-1 fw-bold"
                      id="itemDescTxt"
                      placeholder=""
                    />
                  </div>
                </div>
              </div>

              <div
                class="col-12 col-xxl-2 col-xl-2 col-lg-3 col-md-6 col-sm-6 mt-3"
              >
                <div class="form-group">
                  <label for="itemTypeOpation" class="text-black fw-bold"
                    >Item Type</label
                  >
                  <div class="search-container">
                    <select
                      class="form-select border border-1 fw-bold"
                      type="text"
                      aria-label="Default select example"
                      id="itemTypeOpation"
                    >
                      <option value="">Select Type</option>
                      <option value="M">MEN</option>
                      <option value="W">WOMEN</option>
                    </select>
                  </div>
                </div>
              </div>

              <div
                class="col-12 col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-3"
              >
                <div class="form-group">
                  <label for="occasionOpation" class="text-black fw-bold"
                    >Occasion Type</label
                  >
                  <div class="search-container">
                    <select
                      class="form-select border border-1 fw-bold"
                      type="text"
                      aria-label="Default select example"
                      id="occasionOpation"
                    >
                      <option value="">Select Type</option>
                      <option value="F">Formal</option>
                      <option value="C">Casual</option>
                      <option value="I">Industrial</option>
                      <option value="S">Sport</option>
                    </select>
                  </div>
                </div>
              </div>
              <div
                class="col-12 col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-3"
              >
                <div class="form-group">
                  <label for="veritiesOpation" class="text-black fw-bold"
                    >Verities Type</label
                  >
                  <div class="search-container">
                    <select
                      class="form-select border border-1 fw-bold"
                      type="text"
                      aria-label="Default select example"
                      id="veritiesOpation"
                    >
                      <option value="">Select Type</option>
                      <option value="H">Heel</option>
                      <option value="F">Flats</option>
                      <option value="W">Wedges</option>
                      <option value="FF">Flip Flops</option>
                      <option value="SD">Sandals</option>
                      <option value="S">Shoes</option>
                      <option value="SL">Slippers</option>
                    </select>
                  </div>
                </div>
              </div>

              <div
                class="col-12 col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-3"
              >
                <div class="form-group">
                  <label for="itemCategory" class="text-black fw-bold"
                    >Category</label
                  >
                  <div class="search-container">
                    <select
                      class="form-select border border-1 fw-bold"
                      type="text"
                      aria-label="Default select example"
                      id="itemCategory"
                    >
                      <option value="">Select Category</option>
                      <option value="NATIONAL">NATIONAL</option>
                      <option value="INTERNATIONAL">INTERNATIONAL</option>
                    </select>
                  </div>
                </div>
              </div>

              <div
                class="col-12 col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 mt-3"
              >
                <div class="form-group">
                  <label for="sizeTxt" class="text-black fw-bold">Size</label>
                  <div class="search-container">
                    <input
                      type="text"
                      class="form-control fw-bold border border-1 fw-bold"
                      id="sizeTxt"
                      placeholder=""
                    />
                  </div>
                </div>
              </div>

              <div
                class="col-12 col-xxl-2 col-xl-3 col-lg-3 col-md-3 col-sm-6 mt-3"
              >
                <div class="form-group">
                  <label for="quantityTxt" class="text-black fw-bold"
                    >Quantity</label
                  >
                  <div class="search-container">
                    <input
                      type="text"
                      class="form-control fw-bold border border-1 fw-bold"
                      id="quantityTxt"
                      placeholder=""
                    />
                  </div>
                </div>
              </div>

              <div
                class="col-12 col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-3"
              >
                <div class="form-group">
                  <label for="buyPriceTxt" class="text-black fw-bold"
                    >Buy Price</label
                  >
                  <div class="search-container">
                    <input
                      type="text"
                      class="form-control fw-bold border border-1 fw-bold"
                      id="buyPriceTxt"
                      placeholder=""
                    />
                  </div>
                </div>
              </div>

              <div
                class="col-12 col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-3"
              >
                <div class="form-group">
                  <label for="salePriceTxt" class="text-black fw-bold"
                    >Sale Price</label
                  >
                  <div class="search-container">
                    <input
                      type="text"
                      class="form-control fw-bold border border-1 fw-bold"
                      id="salePriceTxt"
                      placeholder=""
                    />
                  </div>
                </div>
              </div>

              <div
                class="col-12 col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-3"
              >
                <div class="form-group">
                  <label for="supplierCodeOption" class="text-black fw-bold"
                    >Supplier Code</label
                  >
                  <div class="search-container">
                    <select
                      class="form-select border border-1 fw-bold"
                      type="text"
                      aria-label="Default select example"
                      id="supplierCodeOption"
                    >
                      <option value="">Select Supplier Code</option>
                    </select>
                  </div>
                </div>
              </div>

              <div
                class="col-12 col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-3"
              >
                <div class="form-group">
                  <label for="expectedProfitTxt" class="text-black fw-bold"
                    >Expected Profit</label
                  >
                  <div class="search-container">
                    <input
                      type="text"
                      class="form-control fw-bold border border-1 fw-bold"
                      id="expectedProfitTxt"
                      placeholder=""
                    />
                  </div>
                </div>
              </div>

              <div
                class="col-12 col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-3"
              >
                <div class="form-group">
                  <label for="profitMarginTxt" class="text-black fw-bold"
                    >Profit Margin</label
                  >
                  <div class="search-container">
                    <input
                      type="text"
                      class="form-control fw-bold border border-1 fw-bold"
                      id="profitMarginTxt"
                      placeholder=""
                      disabled
                    />
                  </div>
                </div>
              </div>

              <div
                class="col-12 col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-3"
              >
                <div class="form-group">
                  <label for="statusTxt" class="text-black fw-bold"
                    >Status</label
                  >
                  <div class="search-container">
                    <input
                      type="text"
                      class="form-control fw-bold border border-1 fw-bold"
                      id="statusTxt"
                      placeholder=""
                      disabled
                    />
                  </div>
                </div>
              </div>

              <div
                class="col-12 col-xxl-12 col-xl-9 col-lg-6 col-sm-12 d-flex justify-content-center mt-4 mt-xxl-4 mt-xl-4 mt-lg-4 mt-md-4 mt-sm-4"
              >
                <button
                  type="button"
                  class="btn btn-success fw-bold col-12"
                  id="itemBuyBtn"

                >
                  Buy Item
                </button>
              </div>

              <div
                class="col-12 col-xxl-6 col-xl-6 col-lg-12 col-sm-12 d-flex justify-content-center mt-4 mt-xxl-4 mt-xl-4 mt-lg-4 mt-md-4 mt-sm-4"
              >
                <button
                  type="button"
                  class="btn btn-warning fw-bold col-12"
                  id="itemUpdateBtn"
                >
                  Update Item
                </button>
              </div>

              <div
                class="col-12 col-xxl-6 col-xl-6 col-lg-6 col-sm-12 d-flex justify-content-center mt-4 mt-xxl-4 mt-xl-4 mt-lg-4 mt-md-4 mt-sm-4"
              >
                <button
                  type="button"
                  class="btn btn-danger fw-bold col-12"
                  id="itemDeleteBtn"
                >
                  Delete Item
                </button>
              </div>
            </div>
          </div>

          <div class="col-12 mt-5 table-responsive p-0">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Item Code</th>
                  <th scope="col">Description</th>
                  <th scope="col">Category</th>
                  <th scope="col">Sale Price</th>
                  <th scope="col">Buy Price</th>
                  <th scope="col">Supplier Id</th>
                </tr>
              </thead>
              <tbody id="item_Table"></tbody>
            </table>
          </div>

          <div class="d-flex justify-content-end">
            <a
              href="../view/stock.html"
              class="col-12 d-flex justify-content-end"
              style="text-decoration: none"
            >
              <button
                type="button"
                class="btn btn-info fw-bold col-3"
                id="itemStockBtn"
              >
                Stock
              </button></a
            >
          </div>

          <div class="mt-3"></div>
        </div>
      </div>
    </div>

    <script src="../Controller/mobileNavJs.js"></script>
    <script>
      function displaySelectedImage(event) {
        const selectImage = document.getElementById("selectImage");
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function () {
          selectImage.src = reader.result;
        };

        if (file) {
          reader.readAsDataURL(file);
        }
      }
    </script>
    <script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../bootstrap-5.3.1-dist/lib/jquery.min.js"></script>
    <script src="../Controller/ItemController.js" type="module"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="../Controller/notify.js" type="module"></script>
  </body>
</html>
